.reference-pagination.pagination {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 1em 0;
    height: auto;
    width: auto;
}
.reference-pagination ul.pagination_list {
    height: auto;
    margin: auto;
    padding: 0;
    list-style: none;
}
.reference-pagination li.pagination_range {
    height: auto;
    line-height: initial;
}
.reference-pagination li.pagination_range a,
.reference-pagination li.pagination_range span {
    display: inline-block;
    margin: 1px;
    padding: 0.375em 9px;
    vertical-align: top;
}
.reference-pagination li.pagination_range a {
    border: 1px solid #e2e2e2;
    border-radius: 5px;
     background: linear-gradient(to top, #e2e2e2, #f8f8f8, #ffffff);
    text-decoration: none;
}
.reference-pagination li.pagination_range span {
    border: 1px solid transparent;
    border-radius: 5px;
}
.reference-pagination li.pagination_range a:hover {
    background: #e2e2e2;
    color: #000;
    text-decoration: none;
}
.reference-heading {
    display: block;
    background: linear-gradient(to right, #e2e2e2, #f8f8f8, #ffffff);
    border-radius: 3px;
    color: #777;
    margin-bottom: 8px;
    padding: 4px 0 4px 8px;
}
.reference-list {
    list-style-type:none;
    padding-left: 0;
    margin-top: 0;
}
.reference-record {
    margin-left: 6px;
}
.reference-list li+li {
    margin-bottom: 5px;
}
ul.references {
    list-style: inside none disc;
}
ol.references {
    list-style: inside none decimal;
}
ul.references ul,
ol.references ul {
    list-style: inside none circle;
    margin-left: 15px;
}
ol.references ol,
ul.references ol {
    list-style: inside none lower-latin;
    margin-left: 15px;
}
ul.references li {
    margin-top: 12px;
    margin-bottom: 12px;
}
